{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<div class="jumbotron" style="background-image: url('{{ asset('img/hero_banner.jpg')}}')">
					<h1 class="display-4">Bienvenue sur SnowTricks</h1>
					<p class="lead">SnowTricks est un site communautaire qui permet à ses utilisateurs de partager leurs figures de snowboard.</p>
					<hr class="my-4">
					<p>Vous pouvez consulter les figures sans être inscrit, mais pour en ajouter ou en modifier, il faut être inscrit.</p>
					<p class="lead">
						<a class="btn btn-primary btn-lg" href="{{ path('app_register') }}" role="button">S'inscrire</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col col-12">
				<div class="cards">

					{% for trick in tricks %}
						<div class="cards__card">
							<div class="cards__card__img">
								{% for media in trick.media %}
									{% if media.type == "image" %}
										<img src="{{ media}}" alt="{{ trick.name }}" class="img-fluid">
									{% elseif media.type == 'embed' %}

										{{ media.content|raw }}


									{% endif %}
								{% endfor %}
							</div>
							<div class="cards__card__footer">
								<div class="cards__card__footer--title">
									<a href="{{ path('trick_show', {'slug': trick.slug}) }}" class="btn btn-primary">{{ trick.name }}</a>
								</div>

								{% if app.user %}
									<div class="cards__card__footer--admin">
										<a href="{{ path('trick_edit', {'slug': trick.slug}) }}" class="btn btn-warning">
											<i class="fa fa-pencil" aria-hidden="true"></i>
										</a>
										<a href="{{ path('trick_delete', {'slug': trick.slug}) }}" class="btn btn-danger">
											<i class="fa fa-trash" aria-hidden="true"></i>
										</a>
									</div>

								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>


	{% endblock %}
