{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {{ include('layouts/_navbar.html.twig') }}
    <h1>Snowtricks</h1>
    <p>Page d'accueil</p>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Les figures</h2>
                <p>Voici la liste des figures</p>
                <div class="cards">
               
                    {% for trick in tricks %}
                        <div class="cards__card">
                            <div class="cards__card__img">
                                {% for media in trick.media %}
                                {{ dump(media) }}
                                {% if media.type == "image" %}
                                <img src="{{ media}}" alt="{{ trick.name }}" class="img-fluid">
                                    {% elseif media.type == 'embed' %}
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/EzGPmg4fFL8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                    
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="cards__card__header">
                                <h3>{{ trick.name }}</h3>
                            </div>
                            <div class="cards__card__body">
                                <p>{{ trick.description }}</p>
                            </div>
                            <div class="cards__card__footer">
                                <a href="{{ path('trick_show', {'slug': trick.slug}) }}" class="btn btn-primary">Voir la figure</a>
                            </div>
                        </div>
                    {% endfor %}
                 </div>
            </div>
        </div>


{% endblock %}
