{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {{ include('layouts/_navbar.html.twig') }}
    <h1>Snowtricks</h1>
    <p>Page d'accueil</p>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Les figures</h2>
                <p>Voici la liste des figures</p>
                <div class="cards">
               
                    {% for trick in tricks %}
                        <div class="cards__card">
                            <div class="cards__card__img">
                                {% for media in trick.media %}
                                {% if media.type == "image" %}
                                <img src="{{ media}}" alt="{{ trick.name }}" class="img-fluid">
                                    {% elseif media.type == 'embed' %}
                                    
                                        {{ media.content|raw }}
                                    
                                    
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="cards__card__footer">
                                <a href="{{ path('trick_show', {'slug': trick.slug}) }}" class="btn btn-primary">{{ trick.name }}</a>
                                {% if app.user %}
                                    <div class="cards__card__footer--admin">
                                        <a href="{{ path('trick_edit', {'slug': trick.slug}) }}" class="btn btn-warning">Modifier</a>
                                        <a href="{{ path('trick_delete', {'slug': trick.slug}) }}" class="btn btn-danger">Supprimer</a>
                                    </div>
                                    
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                 </div>
            </div>
        </div>


{% endblock %}
