<nav class="navbar">
	
		<div class="navbar__header">
			<a class="navbar-brand" href="{{ path('app_home')}}">SnowTricks</a>
		</div>
		<ul class="navbar__items">
			<li class='navbar__items__item'>
				<a href="{{ path('app_home')}}">Home</a>
			</li>
			{% if app.user %}
				<li>{{ app.user.pseudo }}</li>
				<li class="navbar__items__item">
					<a href="{{ path('app_logout') }}">Déconnexion</a>
				</li>
			{% else %}
				<li class="navbar__items__item">
					<a href="{{ path('app_login') }}">Connexion</a>
				</li>
				<li class="navbar__items__item">
					<a href="{{ path('app_register') }}">Inscription</a>
				</li>
			{% endif %}

		</ul>
	
</nav>
