{% extends 'base.html.twig' %}

{% block body %}        
    
    <div class="container">
        <div class="show">
            <header class="show__hero" style="background-image: url('')"></header>
            <main class="show__main">
                <div class="show__main__media">
                    {% for item in trick.media %}
                        <div class="show__main__media--card">
                            {% if item.type == "image" %}
                                <img src="{{ item.url }}" alt="#">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <div class="show__main__description">
                    {{ trick.description }}
                </div>
                <div class="show__main__categorie">
                    {% for item in trick.category %}
                        <tag class="show__main__categorie--link">{{ item.name }}</tag>
                    {% endfor %}
                </div>

                <div class="show__comment">
                    <header class="show__comment__leave">

                    {{ form_start(form)}}
                        <div class="show__comment__leave--form">
                            {{ form_row(form.content) }}
                            <button class="show__comment__leave--form--button">Envoyer</button>
                        </div>
                    {{ form_end(form)}}
                    </header>
                    <main class="show__comment__read">
                        {% for item in trick.comments %}
                            commentaire
                        {% endfor %}
                    </main>
            </main>
        </div>
    </div>

{% endblock %}